<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <title>Panel</title>
    <link rel="shortcut icon" href="#">
    <script type="text/javascript" src="/static/js/lib/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="/static/js/main/main.js"></script>

    <style>
        html {
            width:250px;
            height:250px;
            overflow: hidden;
        }

        body {
            width: 250px;
            height: 250px;
            overflow: hidden;
            margin: 0;
        }

        #mobwith {
            width: 250px;
            height: 250px;
            -ms-overflow-style: none;
            scrollbar-width: none;
            border: none;
        }

        .container main{
            height: 250px;
        }
    </style>
</head>

<script type="text/javascript">

</script>

<input type="hidden" id="adId" name="adId" th:value="${adPanelModel.adId}">
<input type="hidden" id="os" name="os" th:value="${adPanelModel.os}">
<input type="hidden" id="zoneId" name="zoneId" th:value="${adPanelModel.zoneId}">
<input type="hidden" id="width" name="width" th:value="${adPanelModel.width}">
<input type="hidden" id="height" name="height" th:value="${adPanelModel.height}">



<body>
    <div class="container main">
        <iframe id="mobwith"></iframe>
    </div>
</body>
</html>